.popup {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.popup-inner {
    background-color: #fafafa;
    border-radius: 10px;
    padding: 32px;
    position: relative;
    width: 70%;
}

.popup-inner .close-button {
    color: #000;
    position: absolute;
    right: 16px;
    top: 16px;
}